<div class="container mt-3">
  <%= render 'shared/avatar' %>
  <h1>Create a new document</h1>
  <%= render 'form' %>
  <!-- NO _VERSIONS.SCSS INSERIRAM STYLE NO <P> -->

  <div class="back-btn mr-3">
    <%= link_to docs_path do %>
      <i class="las la-arrow-circle-left"></i>
    <% end %>
  </div>
</div>
