<div class="container">
  <h2><%= @doc.title %></h2>
  <p><%= @doc.text %></p>

  <%= link_to 'Edit', edit_doc_path(@doc) %>

  <p> --- </p>

  <% if @doc.versions.present? %>

    <% if @doc.versions.count == 1 %>
      <h5>Version:</h5>
    <% else %>
      <h5>Versions:</h5>
    <% end %>

    <% @doc.versions.each do |version| %>
    <%= link_to "at #{version.created_at.strftime("%-d %b %Y, %H:%M")}", version_path(version) %>
    <% end %>

  <% else %>
    <p>This documents has no versions yet</p>
  <% end %>
</div>
