:root {
  --main-color: #0b2557;
  --color-dark: rgb(38, 50, 56);
  --text-grey: #8390A2;
}

.text {
  font-family: 'Ubuntu', sans-serif;
  padding-left: 30px;
  padding-top: 10px;
  font-weight: 700;
}

.text-version {
  color: #111;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 30px;
  padding-top: 20px;
  font-weight: 700;
}

.button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin-top: 15px;
  transition: ease-in-out .3s;
}

.button-create {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  margin-left: 100px;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin-top: 15px;
  transition: ease-in-out .3s;
}

.button-create:hover {
  color: #1982ac6c;
}

.button input {
  background: var(--main-color);
  color: #fff;
}

.button:hover {
  background: #103479;
}

.text-editor {
  background: #fff;
  border-radius: 16px;
  justify-content: space-between;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
  padding: 30px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

p {
  margin-left: 3rem;
  font-family: 'Ubuntu', sans-serif;
  margin-top: revert;
  margin-right: 30px;
}

#updates {
  border-right: solid 2px #ccc;
  padding-right: 20px;
}

// .trix-content {
//   background: #fff;
//   padding-left: 50px;
// }

.table-title {
  padding-left: 32px;
}

.comment-wrapper {
  border: 2px solid #ccc;
  border-radius: 30px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}

.comment-editor {
  background: #fff;
  border-radius: 16px;
  justify-content: space-between;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.2);
  padding: 30px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
}

.accept-button {
  background: var(--main-color);
  margin-left: 0;
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  margin-bottom: 8px;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin-top: 8px;
}

#accept-doc-btn{
  background: #21af2d96;
  margin-left: 0;
  margin-right: 0;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: .9rem 25rem .9rem;
  border: 1px solid #21af2d;
  margin-top: 15px;
  transition: ease-in-out .3s;
}

.doc-accept {
  justify-content: flex-end;
}

.reject-button {
  background: var(--main-color);
  border-radius: 10px;
  color: #fff;
  font-size: .8rem;
  padding: .5rem 1rem;
  border: 1px solid var(--main-color);
  width: fit-content;
  margin-top: 8px;
}

.created-by {
  font-size: 15px;
}
